<%= render 'form' %>
<header>
<div class ="container3">
<div class="col-lg-8 col-lg-offset-2 text-center">
<a href="/comments" class="btn btn-lg btn-outline">
                        Back
                    </a>
</div>
</div>
</header>