<div id = "pic">
<div class="content">
        <img src="http://imgur.com/eb5iXQ3.jpg" height="50%" width="100%">
        <!-- <button class="button"> CLICK </button> -->
        <a href="comments#index" class="button">CLICK</a>
        <!-- <a href="#">Click Me</a> -->
    </div>
</div>
