// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bground {
 background-color: green;
}

td {
    text-align: center;
}

h1 {
    text-align:center;
}

p {
    text-align: center;
    font-weight: bold;
    }

h3 {
    color: blue;
}